$accentColor: #F87AAB;
$backgroundColor: #F2F2F2;
$elementColor: #D0D0D0;
$formColor: #505050;
$formTextColor: #F87AAB;

// $scrollbarMainColor: hsl(120, 75%, 50%);
$scrollbarMainColor: #F87AAB;
$scrollbarAccentColor: #505050;
// $scrollbarAccentColor: hsl(120, 100%, 20%);