// .rectum {
//   width: 100%;
//   height: 150vh;
//   text-align: center;
//   background-color: rgba($color: #fff, $alpha: 0.5);
// }

.anotherRectum {
  background-color: red;
  height: 150vh;
}

.thirdRectum {
  background-color: transparent;
  height: 150vh;
}