.HomePage {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;

  .quote {
    width: 100vw;
    height: 100vh;
  }

  .title {
    top: 40vh;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    text-shadow: 0 1px 0px rgba($color: #fff, $alpha: 0.4);
    font-size: calc(2vmin + 1.5em);
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    letter-spacing: 0.3em;
  }

  .subtitle {
    top: 46vh;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    text-shadow: 0 0 5px #000;
    color: #fff;
    font-size: calc(1vmin + 0.5em);
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    letter-spacing: 0.3em;
  }

  .responsiveImage {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    background-position: center center;
  }
}